<div class="container">
    <form action="" [formGroup]="datosCrear">
        <div class="form-group">
            <label for="exampleInputTitle">Title</label>
            <input type="text" class="form-control" Title="exampleInputTitle" formControlName="title" placeholder="title">
          </div>
          <div class="form-group">
            <label for="exampleInputPrice">Price</label>
            <input type="number" class="form-control" Price="exampleInputPrice" formControlName="price" placeholder="price">
          </div>
          <div class="form-group">
            <label for="exampleInputDescription">Description</label>
            <input type="text" class="form-control" Description="exampleInputDescription" formControlName="description" placeholder="description">
          </div>
          <div class="form-group">
            <label for="exampleInputImages">URL image</label>
            <input type="text" class="form-control" Images="exampleInputImages" formControlName="images" placeholder="Images">
          </div>
          <button type="button" (click)="crearProducto()">Crear</button>
    </form>
    <div *ngFor="let ropa of info" class="item">
      <!--ropa es una posición exacta del array por así decirlo, estams accediendo a un array individualmente-->
        <p>{{ropa.TITULO}}</p>
        <p>{{ropa.PRECIO}}</p>
        <!--La linéa de abajo establece las imágenes dadas por platzi-->
        <img src="{{ropa.imagen}}" alt="" class="imgProducto">
        <button (click)="eliminarProducto(ropa.ID)">eliminarProducto</button>
        <button (click)="abrirEdicion(ropa)">Abrir formulario de edición</button>
        <form action="" [formGroup]="datosProducto" *ngIf="productoSeleccionado == ropa">
            <div class="form-group">
                <label for="exampleInputTitle">Title</label>
                <input type="text" class="form-control" id="exampleInputTitle" formControlName="title" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="exampleInputPrice">Price</label>
                <input type="text" class="form-control" id="exampleInputPrice" formControlName="price" placeholder="Enter price">
            </div>
            <div class="form-group">
              <label for="exampleInputImages">Images</label>
              <input type="text" class="form-control" id="exampleInputImages" formControlName="images" placeholder="Enter Images">
          </div>
            <button type="submit" class="btn btn-primary" (click)="editarProducto(ropa.ID)">Editar producto</button>
        </form>        
    </div>
</div>